@font-face { font-family: Poppins; src: url('Poppins.otf'); } 


.headline {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}


.section_page{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}



/* Font/Desktop/L/Medium */
.caption_content{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;}

/* Font/Desktop/Base/Regular */

.body_content1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.body_content2 {
/* Font/Desktop/Base/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}


.body_content3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.logo_size {
    width: 143px;
    height: 48px;

}


.about_size{
    width: 181px;
    height: 48px;
}


footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}















